{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<!--요청이 signup이면, signup form, login이면 login form-->
{% if request.resolver_match.url_name == 'signup' %}
  <h1>회원가입</h1>
{% elif request.resolver_match.url_name == 'login' %}
  <h1>로그인</h1>
{% elif request.resolver_match.url_name == 'update' %}
  <h1>회원정보수정</h1>
{% else %}
  <h1>비밀번호 변경</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons submit="확인" reset="취소" %}{% endbuttons %}
</form>

{% endblock content %}